<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>King Chess Ranking</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">King Chess Ranking</a>
            </h1>
            <nav>
                {{!-- Basically if logged in show these two buttons else login --}}
                {{#if loggedIn}}
                <a href="/dashboard">Do something if logged in</a>
                <button id="logout" class="btn-no-style">logout</button>
                {{else}}
                <a href="/login">login</a>
                {{/if}}
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>
    <script src="/js/login.js"></script>
</body>

</html>