<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>King Chess Ranking</title>
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
            <h1>
                <a href="/">King Chess Ranking</a>
            </h1>
            <nav>
                <button id="login" class="btn-no-style">
                    <a href="/login">Logout</a>
                </button>

                <button id="logout" class="btn-no-style">
                    <a href="/logout">Logout</a>
                </button>
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>
    <script src="/assets/js/login.js"></script>
    <script src="/assets/js/logout.js"></script>
</body>

</html>